apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: config-pvc
  namespace: pgbouncer
spec:
  accessModes:
    - ReadWriteMany
  storageClassName: nfs-storage
  resources:
    requests:
      storage: 5Mi
      

